.cart-heading {
    margin-top: 10vh;
    margin-left: 50px;
    font-size: 3rem;
}

.cart-item {
    display: flex;
    padding: 20px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    max-width: 60vw;
    margin-bottom: 20px;
    margin-left: 20px;
}

.cart-item img {
    max-width: 100px;
    margin-right: 30px;
}

.cart-item h2 {
    font-weight: 400;
    font-size: 2rem;
}

.cart-item h3 {
    font-weight: 400;
    font-family: Josefin Sans;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.quantity-box {
    display: flex;
    background-color: #bc6c25;
    border-radius: 45px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    width: 150px;
    justify-content: center;
    align-items: center;
    height: 50px;
}

input[type="number"] {
    -moz-appearance: textfield;
    text-align: center;
    font-size: 1.5rem;
    font-family: Josefin Sans;
    border: none;
    background-color: #bc6c25;
    color: white;
    height: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-btn {
    color: white;
    background-color: #bc6c25;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    height: 50px;
    padding: 10px;
}

.decrement {
    /* padding: 15px 5px 15px 25px; */
    border-radius: 45px 0 0 45px;
}

.increment {
    /* padding: 15px 25px 15px 5px; */
    border-radius: 0 45px 45px 0;
}

.remove {
    text-decoration: underline;
    font-family: Josefin Sans;
    margin-top: 20px;
    font-size: 1.2rem;
}

.subtotal {
    height: 20vh;
    width: 20vw;
    border: 1px solid black;
    position: absolute;
    right: 20px;
}

