@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bc6c25;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Cormorant;
}

h2 {
    font-family: Josefin Sans;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-color: #FAEDCD;
    overflow-x: hidden;
    overflow-y: hidden;
}

.loader {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #FAEDCD;
    z-index: 51;
    opacity: 1;
}

.navbar {
    border-bottom: solid 1px black;
    min-height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #FAEDCD;
    z-index: 2;
}

.container {
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper a {
    display: flex;
    justify-content: center;
    height: auto;
}

.logo-wrapper img {
    max-width: 50%;
    height: auto;
}

.search-form{
    display: flex;
    border-bottom: solid 2px rgb(0, 0, 0);    
    padding-bottom: 5px;
    width: 100%;
}

.search-bar {
    display: flex;
    margin-left: 20px;
    max-width: 20vw;
}

.search-bar input {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    text-align: left;
    color: #000000;
    font-family: Josefin sans;
    font-size: 1rem;
    padding: 0;
}

.search-bar input::placeholder {
    color: #000000;
}

.search-bar i {
    cursor: pointer;
    padding-right: 5px;
}

.nav-links {
    max-width: 50%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Josefin Sans;
    font-size: 1.4rem;
    font-weight: 400;
    display: inline;
    padding: 0 20px;
}

.signin-link {
    margin-top: 5px;
    position: relative;
    min-width: 130px;
}

.signin-link::after {
    content: "";
    position: absolute;
    background-color: #BC6C25;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -7px;
    transition: 0.3s ease-out;
}

.signin-link:hover::after {
    width: 100%;
}

.nav-links a i {
    margin-right: 20px;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.hero-left {
    width: 50vw;
    padding-top: 250px;
    padding-left: 150px;
}

.hero-left h1 {
    font-size: 5vw;
    /* font-size: 96px; */
    font-weight: lighter;
    margin-bottom: 20px;
}

.hero-left h2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 100px;
}

.hero-left img {
    display: none;
    /* position: absolute; */
}

#btn1 {
    padding: 20px 20px;
    font-size: 1.8rem;
    font-family: Josefin Sans;
    color: rgb(255, 255, 255);
    background-color: #bc6c25;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.4s;
}

#btn1:hover {
    background-color: #DDA15E;
    padding-right: 100px;
}

#btn1 .fa {
    position: absolute;
    margin-left: 230px;
    color: white;
    transform: translateX(-90%);
    opacity: 0;
    transition-duration: 0.4s;
}

#btn1:hover .fa {
    transform: translateX(0%);
    opacity: 1;
}

.hero-right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

button:focus {
    outline: none;
    border: none;
}

.carousel-wrapper {
    margin-top: 300px;
    margin-right: 800px;
}

.cardList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: auto;
}

.cardList__btn {
    --btn-size: 35px;
    width: var(--btn-size);
    height: var(--btn-size);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.cardList__btn.btn--left {
    left: -5%;
}

.cardList__btn.btn--right {
    right: -5%;
}

.cardList__btn .icon {
    width: 100%;
    height: 100%;
}

.cardList__btn .icon svg {
    width: 100%;
    height: 100%;
}

.cardList .cards__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

.card {
    /* --card-translateY-offset: 100vh; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
    display: inline-block;
    width: var(--card-width);
    height: var(--card-height);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
    user-select: none;
}

.card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1;
    transition: opacity var(--card-transition-duration) var(--card-transition-easing);
    opacity: calc(1 - var(--opacity));
}

.card__image {
    position: relative;
    width: 100%;
    height: 100%;
}

.card__image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card.current--card {
    --current-card-rotation-offset: 0;
    --card-translateX-offset: 0;
    --card-rotation-offset: var(--current-card-rotation-offset);
    --card-scale-offset: 1.2;
    --opacity: 0.8;
}

.card.previous--card {
    --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
    --card-rotation-offset: 25deg;
}

.card.next--card {
    --card-translateX-offset: calc(var(--card-width) * 1.1);
    --card-rotation-offset: -25deg;
}

.card.previous--card, .card.next--card {
    --card-scale-offset: 0.9;
    --opacity: 0.4;
}

.infoList {
    position: absolute;
    width: calc(3 * var(--card-width));
    height: var(--card-height);
    pointer-events: none;
}

.infoList .info__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.info {
    margin-bottom: calc(var(--card-height) / 8);
    margin-left: calc(var(--card-width) / 1.5);
    transform: translateZ(2rem);
    transition: transform var(--card-transition-duration) var(--card-transition-easing);
}

.info .text {
    position: relative;
    font-family: "Josefin Sans";
    font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
    font-weight: 400;
    white-space: nowrap;
    color: rgb(0, 0, 0);
    width: fit-content;
}

.info .name,
.info .location {
    text-transform: uppercase;
}

.info .location {
    font-weight: 400;
}

.info .location {
    --mg-left: 40px;
    --text-size-offset: 0.12;
    font-weight: 400;
    margin-left: var(--mg-left);
    margin-bottom: calc(var(--mg-left) / 2);
    padding-bottom: 0.8rem;
}

.info .location::before, .info .location::after {
    content: "";
    position: absolute;
    background: rgb(0, 0, 0);
    left: 0%;
    transform: translate(calc(-1 * var(--mg-left)), -50%);
}

.info .location::before {
    top: 50%;
    width: 20px;
    height: 5px;
}

.info .location::after {
    bottom: 0;
    width: 60px;
    height: 2px;
}

.info .description {
    --text-size-offset: 0.065;
    font-weight: 500;
}

.info.current--info {
    opacity: 1;
    display: block;
}

.info.previous--info, .info.next--info {
    opacity: 0;
    display: none;
} 
  
@media only screen and (min-width: 800px) {
    :root {
        --card-width: 250px;
        --card-height: 400px;
    }
}

.todays-closet {
    width: 480px;
    height: 604px;
    display: flex;
    justify-content: center;
}

.section-2 {
    height: 100vh;
}

.carousel-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.carousel-heading h1 {
    font-size: 70px;
    font-weight: 500;
}

.carousel-heading h2 {
    font-size: 32px;
    font-weight: 300;
}

.owl-carousel-wrapper {
    max-width: 1520px;
    margin: 0 auto;
}

.owl-stage-outer {
    height: 100vh;
}

.slider {
    display: flex;
    flex-direction: row;
}

.slider-image {
    height: 100vh;
}

.slider-image img {
    max-width: 400px;
}

.slider-description {
    width: 40vw;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.slider-description h2 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.slider-description h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.slider-description h3 {
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 100px;
}

.slider-description p {
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

.owl-nav {
    position: absolute;
    right: 50px;
    bottom: 300px;
}

.owl-nav img {
    padding: 10px 10px;
    border: solid black 1px;
    border-radius: 40px;
    width: 50px;
    transition-duration: 0.3s;
}

.owl-nav img:hover {
    background-color: #BC6C25;
}

.owl-prev:hover, .owl-next:hover {
    background: none !important;
    outline: none !important;
}

.section-3 {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec-3-wrapper {
    padding: 50px 0;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #BC6C25;
    box-shadow: 15px 15px 30px #0000008a;
}

.section-3-left {
    padding-left: 80px;
}

.section-3-left h1 {
    font-size: 54px;
    margin-bottom: 30px;
    font-weight: 500;
    color: white;
}

.section-3-left h2 {
    font-size: 24px;
    font-weight: 350;
    margin-bottom: 50px;
    color: white;
}

.section-3-right {
    height: 60vh;
    width: 40vw;
    margin-right: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3-right img {
    width: 400px;
    margin-bottom: 90px;
}

.shadow-btn {
    padding: 15px 20px;
    font-size: 1.5rem;
    font-family: Josefin Sans;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: #BC6C25;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 10px 10px #888888;
    transition-duration: 0.3s;
}

.sec-3-btn {
    background-color: #DDA15E;
    margin-left: 200px;
}

.shadow-btn:hover {
    background-color: #DDA15E;
    box-shadow: 15px 10px #888888;
}

.sec-3-btn:hover {
    color: #000;
    background-color: #FAEDCD;
    margin-left: 200px;
}

.slider-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.slider-2 h1{
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.slider-2 h2{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.slider-2 h3{
    font-family: Josefin Sans;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.slider-2 p {
    font-family: Josefin Sans;
    font-size: 1.1rem;
    font-weight: 400;   
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-direction: row;
}

.box {
    margin: 0 60px;
    padding: 0px 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.box img {
    max-width: 300px;
}

#btn2 {
    opacity: 0;
    position: relative;
    left: 90px;
    bottom: 370px;
    padding: 20px 20px;
    font-size: 1rem;
    font-family: Josefin Sans;
    color: rgb(255, 255, 255);
    background-color: #bc6c25;
    border: none;
    cursor: pointer;
    outline: none;
    transition-duration: 0.4s;
}

#btn2:hover {
    background-color: #DDA15E;
}

.box:hover {
    background-color: #bc6b253d;
}

.box:hover #btn2 {
    opacity: 1;
}

.section-4 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 300px 0px;
}

.section-4 h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-4 h2 {
    font-weight: 350;
    font-size: 2rem;
    margin-bottom: 50px;
}

.section-4 img {
    height: 150px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
    border-top: solid 1px black;;
}

.col {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.col h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.col a {
    color: #000000;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.col-5 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.col-5 i {
    padding: 0 10px;
}

.sign-in-left {
    padding: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid black 2px;
}

.sign-in-left h2 {
    font-family: Cormorant;
    font-weight: 600;
    font-size: 2.8rem;
    margin-bottom: 30px;
}

.sign-in-hero {
    align-items: center;
}

.sign-in-right {
    display: flex;
    flex-direction: column;
}

.sign-in-right h2 {
    font-family: Cormorant;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

.sign-in-right h3 {
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.forms {
    display: flex;
    flex-direction: column;
}

.forms input {
    margin-bottom: 40px;
    width: 23vw;
    border-bottom: solid 2px rgb(0, 0, 0);
}

.inputs {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    text-align: left;
    color: #bc6c25;
    font-family: Josefin sans;
    font-size: 1rem;
    padding: 0;
    margin-right: 50px; 
}

.inputs::placeholder {
    color: #000000;
}

.forgot {
    margin-top: 30px;
    font-family: Josefin Sans;
    text-decoration: underline;
    color: #000000;
}

.register-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-wrapper {
    justify-content: center;
    align-items: center;
}

.product-page-wrapper {
    height: 100vh;
    display: flex;
}

.side-panel {
    position: fixed;
    height: 100vh;
    width: 15vw;
    top: 0;
    left: 0;
    background-color: #bc6c25;
}

.side-panel img {
    position: absolute;
    max-width: 150px;
    top: 20px;
    left: 20px;
}

.product-content {
    position: absolute;
    right: 0;
    width: 85vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
}

.side-panel-links {
    margin-top: 10vh;
}

.side-btns {
    width: 100%;
    background-color: #bc6c25;
    font-family: Josefin Sans;
    font-size: 1.5rem;
    padding: 10px 0px;
    color: white;
    text-align: start;
    padding-left: 30%;
    font-weight: 300;
}

.big-btn {
    transition-duration: 0.3s;
    border-inline-start: solid rgba(0, 0, 0, 0.0);
}

.big-btn:hover {
    border-inline-start: solid black;
}

.btn-active {
    background-color: #FAEDCD;
    color: black;
    font-weight: 400;
}

.sub-button {
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 400;
    font-size: 1rem;
    padding-left: 60%;
    text-align: start;
    transition-duration: 0.3s;
}

.sub-button:hover {
    color: #bc6c25;
}

.product-head {
    display: flex;
    margin-top: 30vh;
    width: 80%;
    margin-left: 5vw;
    margin-bottom: 15px;
}

.product-head h1 {
    font-size: 3.5rem;
    margin-right: 10%;
}

.btn4 {
    margin-top: 25px;
    font-family: Josefin Sans;
    font-size: 1rem;
    padding: 5px 10px;
    border: solid 2px black;
    margin-right: 40px;
}

.products-table {
    height: 60vh;
    width: 80%;
    background-color: white;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.product-form-wrapper {
    margin-top: 50px;
    margin-left: 30px;
}

.product-form-wrapper h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 400;
}

.product-form-wrapper form {
    display: flex;
    flex-direction: column;
}

.product-form-wrapper input[type=text] {
    width: 60%;
    outline: none;
    margin: 10px 0px;
    height: 50px;
    padding-left: 10px;
    border: grey 1px solid;
    font-family: Josefin Sans;
    font-size: 1.5rem;
}

.product-form-wrapper input[type=file] {
    display: none;
}

.product-form-wrapper input::placeholder {
    font-family: Josefin Sans;
    font-size: 1.5rem;
}

.product-form-wrapper textarea {
    width: 60%;
    outline: none;
    margin: 10px 0px;
    padding-left: 10px;
    padding-top: 10px;
    border: grey 1px solid;
    font-family: Josefin Sans;
    font-size: 1.5rem;
}

.product-form-wrapper select {
    outline: none;
    width: 10%;
    height: 50px;
    font-family: Josefin Sans;
    font-size: 1.5rem;
    color: #888888;
    border: grey 1px solid;
    margin: 10px 0px;
}

.product-form-wrapper select > option {
    font-family: Josefin Sans;
    font-size: 1.5rem;
    color: gray;
}

.product-form-wrapper textarea::placeholder {
    font-family: Josefin Sans;
    font-size: 1.5rem;
}

.product-form-wrapper h2 {
    font-weight: 400;
    margin-top: 10px;
    font-size: 1.5rem;
    margin-left: 10px;
}

.drop-box {
    width: 30vw;
    height: 20vh;
    border: grey 1px solid;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    cursor: pointer;
}

.drop-box-overlay {
    position: absolute;
    width: 30vw;
    height: 20vh;
}

.drop-box h2 {
    color: gray;
    text-align: center;
}

.drop-box-over {
    border: none;
}

table {
    margin-top: 30px;
    max-width: 90%;
    border-spacing: 0px;
}

table > * {
    font-family: Josefin Sans;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    border-spacing: 0px;
}

th {
    font-size: 2rem;
    font-weight: 400;
    text-align: start;
    padding: 10px 10px;
}

tr {
    cursor: pointer;
    transition-duration: 0.3s;
}

.clickable-row:hover {
    background-color: gray;
}

td {
    padding: 5px 10px;
    margin: 0px;
    border: none;
}

.admin-img {
    max-width: 50px;
}

@media screen and (max-width: 600px) {

    .logo-wrapper {
        width: 200px;
        margin-left: 10px;
    }

    .logo-wrapper a {
        height: auto;
        width: 100px;
        margin-right: 100px;
    }

    .logo-wrapper img {
        max-width: 100%;
    }

    .search-bar {
        display: none;
    }

    .nav-links a {
        text-align: center;
        padding: 0;
        font-size: 1rem;
        margin-right: 5px;
    }

    .signin-link {
        margin-top: 5px;
        position: relative;
        min-width: 22vw;
    }

    .hero {
        margin-bottom: 8vh;
    }

    .hero-right {
        display: none;
    }

    .hero-left {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100vw;
        padding: 0;
        padding-top: 15vh;
        height: 100vh;
        overflow: hidden;   
    }

    .hero-left h1 {
        font-size: 12vw;
        font-weight: 400;
        text-align: center;
    }

    .hero-left h2 {
        text-align: center;
        font-size: 7vw;
        margin-bottom: 10px;
    }

    .hero-left img {
        position: relative;
        bottom: 0;
        display: block;
        max-width: 70vw;
        z-index: -1;
    }

    #btn1 {
        position: absolute;
        box-shadow: grey 5px 5px;
        top: 80vh;
        left: 35vw;
        padding: 10px 10px;
        font-size: 1rem;
        font-family: Josefin Sans;
        color: rgb(255, 255, 255);
        background-color: #bc6c25;
        border: none;
        cursor: pointer;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition-duration: 0.4s;
    }

    .carousel-heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }
    
    .carousel-heading h1 {
        font-size: 40px;
        font-weight: 500;
    }
    
    .carousel-heading h2 {
        font-size: 22px;
        font-weight: 300;
    }
    
    .owl-carousel-wrapper {
        max-width: 1520px;
        margin: 0 auto;
    }
    
    .owl-stage-outer {
        height: 100vh;
    }
    
    .slider {
        align-items: center;
        height: 100%;
    }

    .slider-image {
        display: flex;
        align-items: flex-start;
        justify-content: start;
    }
    
    .slider img {
        margin-bottom: 100px;
        max-width: 150px;
    }
    
    .slider-description {
        height: 100vh;
        width: 50vw;
        padding: 0px 2s0px;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
    .slider-description h2 {
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 20px;
    }
    
    .slider-description h1 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .slider-description h3 {
        font-family: Josefin Sans;
        font-weight: 400;
        font-size: 0.7rem;
        margin-bottom: 10px;
    }
    
    .slider-description p {
        font-family: Josefin Sans;
        font-weight: 300;
        font-size: 0.8rem;
        margin-bottom: 30px;
    }
    
    .owl-nav {
        position: absolute;
        right: 50px;
        bottom: 300px;
        transform: scale(0.5);
    }

    .shadow-btn {
        padding: 10px 10px;
        font-size: 1rem;
    }

    .section-3 {
        height: 80vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .sec-3-wrapper {
        padding: 50px 0;
        width: 95vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #BC6C25;
        box-shadow: 15px 15px 30px #0000008a;
    }
    
    .section-3-left {
        padding-left: 20px;
    }
    
    .section-3-left h1 {
        font-size: 34px;
    }
    
    .section-3-left h2 {
        font-size: 14px;
    }
    
    .section-3-right img {
        opacity: 0.5;
        left: 40vw;
        position: absolute;
        max-width: 200px;
        margin-bottom: 90px;
    }

    .sec-3-btn {
        width: 30vw;
        margin-left: 0px;
    }

    .slider-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    .slider-2 h1{
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 40px;
    }
    
    .slider-2 h2{
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 10px;
    }
    
    .slider-2 h3{
        font-family: Josefin Sans;
        font-size: 1.1rem;
        font-weight: 300;
        margin-bottom: 10px;
    }
    
    .slider-2 p {
        font-family: Josefin Sans;
        font-size: 1.1rem;
        font-weight: 400;   
        margin-bottom: 10px;
    }
    
    .products {
        display: flex;
        flex-direction: column;
    }
    
    .box {
        margin: 20 0px;
        padding: 0px 20px;
        transition-duration: 0.5s;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .box img {
        max-width: 180px;
    }
    
    #btn2 {
        display: none;
    }

    .section-4 {
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 20px;
    }
    
    .section-4 h1 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .section-4 h2 {
        font-weight: 350;
        font-size: 1rem;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .section-4 img {
        max-width: 300px;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px 0px;
        border-top: solid 1px black;
        margin-top: 20px;
    }
    
    .col {
        display: flex;
        flex-direction: column;
        width: 20vw;
        padding: 0 10px;
    }
    
    .col h1 {
        font-size: 0.6rem;
        margin-bottom: 15px;
    }
    
    .col a {
        color: #000000;
        font-family: Josefin Sans;
        font-weight: 400;
        font-size: 0.5rem;
        margin-bottom: 5px;
    }
    
    .col-5 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .col-5 i {
        transform: scale(0.7);
        padding: 7px 0px;
    }

    .sign-in-left {
        margin-top: 60vh;
        padding: 0;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: none;
    }
    
    .sign-in-left h2 {
        font-family: Cormorant;
        font-weight: 600;
        font-size: 2.8rem;
        margin-bottom: 30px;
    }
    
    .sign-in-hero {
        padding: 0;
        align-items: center;
        flex-direction: column;
    }
    
    .sign-in-right {
        width: 100vw;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
    }
    
    .sign-in-right h2 {
        font-family: Cormorant;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    
    .sign-in-right h3 {
        font-family: Josefin Sans;
        font-weight: 300;
        font-size: 1.4rem;
        margin-bottom: 20px;
        text-align: center;
    }

    .forms input {
        width: 100%;
    }
}