@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #bc6c25;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Cormorant;
}

h2 {
    font-family: Josefin Sans;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    background-color: #FEFAE0;
    overflow-x: hidden;
}

.navbar {
    border-bottom: solid 1px black;
    min-height: 8vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #FEFAE0;
    z-index: 2;
}

.container {
    padding-top: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo-wrapper img {
    max-width: 200px;
}

.search-bar {
    margin-left: 20px;
    width: 13vw;
    border-bottom: solid 2px rgb(0, 0, 0);
}

.search-bar input {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    text-align: left;
    color: #000000;
    font-family: Josefin sans;
    font-size: 1rem;
    padding: 0;
    margin-right: 50px;
}

.search-bar input::placeholder {
    color: #000000;
}

.search-bar i {
    cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Josefin Sans;
    font-size: 1.5rem; 
    padding: 0 20px;
}

.nav-links a i {
    margin-right: 20px;
}


.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.hero-left {
    width: 50vw;
    padding-top: 250px;
    padding-left: 150px;
}

.hero-left h1 {
    font-size: 96px;
    font-weight: lighter;
    margin-bottom: 20px;
}

.hero-left h2 {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 100px;
}

#btn1 {
    padding: 20px 20px;
    font-size: 1.8rem;
    font-family: Josefin Sans;
    color: rgb(255, 255, 255);
    background-color: #BC6C25;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.4s;
}

#btn1:hover {
    padding-right: 100px;
}

#btn1 .fa {
    position: absolute;
    margin-left: 230px;
    color: white;
    transform: translateX(-90%);
    opacity: 0;
    transition-duration: 0.4s;
}

#btn1:hover .fa {
    transform: translateX(0%);
    opacity: 1;
}

.hero-right {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todays-closet {
    width: 580px;
    height: 604px;
    display: flex;
    justify-content: center;
    background-color: #888888;
}

.section-2 {
    height: 100vh;
}

.carousel-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.carousel-heading h1 {
    font-size: 70px;
    font-weight: 500;
}

.carousel-heading h2 {
    font-size: 32px;
    font-weight: 300;
}

.slider-container {
    display: flex;
    flex-direction: row;
}

.description {
    width: 50vw;
    padding-left: 100px;
    padding-top: 100px;;
}

.description h2 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.description h1 {
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.description h3 {
    font-family: Josefin Sans;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.description p {
    font-family: Josefin Sans;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
}

.images {
    width: 50vw;
}

.images img {
    width: 400px;
    margin-left: 100px;
}

.navigation {
    position: absolute;
    top: 170%;
    right: 100px;
}

.navigation img {
    width: 50px;
    margin: 30px;
}

.section-3 {
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sec-3-wrapper {
    padding: 50px 0;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #BC6C25;
    box-shadow: 15px 15px 30px #0000008a;
}

.section-3-left {
    padding-left: 40px;
}

.section-3-left h1 {
    font-size: 54px;
    margin-bottom: 30px;
    font-weight: 500;
    color: white;
}

.section-3-left h2 {
    font-size: 24px;
    font-weight: 350;
    margin-bottom: 50px;
    color: white;
}

.section-3-right {
    height: 60vh;
    width: 40vw;
    margin-right: 70px;
    background-color: #C4C4C4;
}

.shadow-btn {
    padding: 15px 20px;
    font-size: 1.5rem;
    font-family: Josefin Sans;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    background-color: #BC6C25;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 10px 10px #888888;
    transition-duration: 0.3s;
}

.sec-3-btn {
    background-color: #DDA15E;
    margin-left: 200px;
}

.shadow-btn:hover {
    background-color: #DDA15E;
    box-shadow: 15px 10px #888888;
}

.sec-3-btn:hover {
    color: #000;
    background-color: #FEFAE0;
    margin-left: 200px;
}

.slider-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

}

.slider-2 h1{
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 40px;
}

.slider-2 h2{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.slider-2 h3{
    font-family: Josefin Sans;
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.slider-2 p {
    font-family: Josefin Sans;
    font-size: 1.1rem;
    font-weight: 400;   
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-direction: row;
}

.box {
    margin: 0 60px;
    padding: 0px 20px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.box img {
    max-width: 300px;
}

#btn2 {
    opacity: 0;
    position: relative;
    left: 90px;
    bottom: 370px;
    padding: 20px 20px;
    font-size: 1rem;
    font-family: Josefin Sans;
    color: rgb(255, 255, 255);
    background-color: #bc6c25;
    border: none;
    cursor: pointer;
    outline: none;
    transition-duration: 0.4s;
}

#btn2:hover {
    background-color: #DDA15E;
}

.box:hover {
    background-color: #bc6b253d;
}

.box:hover #btn2 {
    opacity: 1;
}

.section-4 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.section-4 h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.section-4 h2 {
    font-weight: 350;
    font-size: 2rem;
    margin-bottom: 50px;
}

.section-4 img {
    height: 150px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0px;
    border-top: solid 1px black;;
}

.col {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

.col h1 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.col a {
    color: #000000;
    font-family: Josefin Sans;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.col-5 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.col-5 i {
    padding: 0 10px;
}

.sign-in-left {
    padding: 0;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: solid black 2px;
}

.sign-in-left h2 {
    font-weight: 400;
    margin-bottom: 20px;
}

.sign-in-hero {
    align-items: center;
}

.sign-in-right {
    display: flex;
    flex-direction: column;
}

.sign-in-right h2 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
}

.sign-in-right h3 {
    font-family: Josefin Sans;
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.forms {
    margin-bottom: 30px;
    width: 23vw;
    border-bottom: solid 2px rgb(0, 0, 0);
}

.inputs {
    border: none;
    background-color: rgba(0, 0, 0, 0.0);
    outline: none;
    text-align: left;
    color: #000000;
    font-family: Josefin sans;
    font-size: 1rem;
    padding: 0;
    margin-right: 50px; 
}

.inputs::placeholder {
    color: #000000;
}

.forgot {
    margin-top: 30px;
    font-family: Josefin Sans;
    text-decoration: underline;
    color: #000000;
}